.maincontent{
    color:  lightblue;
    background-color: black;
    
}
.maincontent input{
    background-color: black;
    width: 150px;
    text-align: center;
}

.maincontent button{
    background-color: black;
}

